global
  log stdout format raw local0
  maxconn 512

defaults
  log global
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:80
  default_backend servers

backend servers
  balance roundrobin
  server server1 192.168.16.49:80 check
  server server2 192.168.16.53:80 check
